{% extends "layout.html" %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/flow.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About this site</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p style="color: magenta">
                    This site is a continuously developed study resource for math and science, more topics will be added over time.
                    Each topic will feature a stylized post and a more plain .pdf notes file. This site has a corresponding YouTube channel where topics
                    will be explained in video form. Click the link below to view the channel!
                </p>
                <div class="post-preview">
                <a href="https://www.youtube.com/@saturnscienceacademy44/featured">
                    <p><u>Saturn Science Academy on YouTube</u></p>
                </a>
                </div>
            </div>
            <hr class="my-4"  />
        </div>
    </div>

</main>

{% endblock %}