{% extends "layout.html" %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/sun.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact and Questions</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>If you have a question or have found an error on this site or a tutorial, please comment on one of the YouTube videos.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
