{% extends "layout.html" %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Saturn Science Academy</h1>
                    <span class="subheading">A simple science resource</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <div class="post-preview">
                <a href="study">
                    <h2 class="post-title">Music for studying/work/more</h2>
                    <h3 class="post-subtitle">A regularly updated selection of music to help get you in the zone.</h3>
                </a>
                <p class="post-meta">
                    Posted on Jul 28 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="topics">
                    <h2 class="post-title">Site launched</h2>
                    <h3 class="post-subtitle">First topics added to topics page.</h3>
                </a>
                <p class="post-meta">
                    Posted on Jul 26 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
        </div>
    </div>
</div>
{% endblock %}

