{% extends "layout.html" %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/treeWave.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Study/Work Music</h1>
                    <span class="subheading">A selection of good music to put you in the zone.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- post -->
            <div class="post-preview">
                <a href="https://www.youtube.com/embed/iyJePWXl8Po">


                    <div style="padding-left: 20px">
                        <h2 class="post-title">Great synthwave for getting things done</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/iyJePWXl8Po" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </a>
            </div>
            <!--
            <hr class="my-4" />
            <div class="post-preview">
                <a href="https://youtu.be/uEFK11E1rO0">

                    <div style="padding-left: 20px">
                        <h2 class="post-title">Smooth lo-fi for relaxing</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uEFK11E1rO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </a>
            </div>-->
            <hr class="my-4" />
            <div class="post-preview">
                <a href="https://youtu.be/Z6qDGLnSjoU">

                    <div style="padding-left: 20px">
                        <h2 class="post-title">Smooth lo-fi for relaxing</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z6qDGLnSjoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <p style="color: chartreuse">Curated by Peter @ Saturn Science 2023</p>
            <!-- Post preview
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Science has mastered the universe.</h2>
                    <h3 class="post-subtitle">The end is near.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on August 24, 2021
                </p>
            </div>
             Divider
            <hr class="my-4" />-->
            <!-- Pager-->
            <!--<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>-->
        </div>
    </div>
</div>
{% endblock %}