{% extends "layout.html" %}
{% block content %}
<!-- Page Header-->
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/force.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Vectors Vs Scalars</h1>
                            <h2 class="subheading">Definitions and distinction between the two</h2>
                            <span class="meta">
                                Posted Jul 26 2023
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Vectors and scalars are quantities that are used throughout physics, and it is important to understand the differences between the two and how they are used.
</p>
                        <h2 style="color: magenta">Scalar Quantities</h2>
                        <p>A scalar is a quantity described by a single value (with appropriate units), and is completely described by that value.</p>
                        <p>These will often be written as single (usually lowercase) letter such as 'a' or 'k'.</p>
                        <p>Examples of Scalars: Height, time, speed, volume, mass, temperature, any physical
quantity that can be completely described by a single magnitude value.
</p>

                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                        <h2 style="color: magenta">Vector Quantities</h2>
                        <p>A vector is a quantity described by a value (with appropriate units) AND a corresponding direction of that value. Mathematically, it is a directed line segment with the magnitude being its length.
</p>
                        <p>These are written as in the image below, usually an uppercase letter with an arrow above it directed toward the right.</p>
                        <p>Vector Examples: Velocity of an object, the force involved in pulling/pushing something, displacement of an object, weight (direction of force is toward earth’s center), any physical quantity with a magnitude value and direction.</p>
                        <h2 style="color: magenta">Key Distinction</h2>
                        <p>-> between vectors and scalars is vectors require both a value and direction in order to be a vector, whereas a Scalar is strictly only a single value.</p>
                        <p style="color: chartreuse">
                            Written by Peter @ Saturn Science 2023
                        </p>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}